.carousel-container {
  margin: 8% 2%;
}

#description-text {
  font-size: large;
}

.discover-container {
  display: flex;
  gap: 100px;
}

@media (max-width: 1200px) {
  .discover-container {
    flex-direction: column;
  }
}

.footer {
  background-color: black;
  width: 100%;
  height: 10px;
  border-radius: 20px;
}
