.discover-container {
  margin: 150px 10px;
}

.carousel-container {
  display: flex;
  gap: 30px;
}

#description-text {
  font-size: large;
}

@media (max-width: 1600px) {
  .carousel-container {
    flex-direction: column;
    gap: 0px;
  }
  .discover-container {
    margin-top: 0px;
  }
}

.carousel .thumb {
  border: 0px;
}

.carousel .thumb.selected {
  border: 3px solid #333;
  border-radius: 20px;
}
.carousel .thumb {
  transition: none;
}

.thumbs-wrapper {
  justify-content: center;
  display: flex;
}
