.background {
  background-image: url("../../assets/hagiang.jpg");
  background-size: cover;
  width: 100%;
  position: fixed;
}

.boxes {
  display: flex;
  align-items: center; /* align vertical */
  color: white;
  height: 100vh;
  justify-content: center;
}

.welcome-box {
  font-size: xxx-large;
  text-align: center;
  width: 300px;
}

.about-box {
  width: 350px;
  height: 300px;
}

.discover-box {
  width: 400px;
  height: 200px;
}

img {
  border-radius: 20px;
}

figcaption {
  padding-bottom: 6em;
  color: aliceblue;
  position: absolute;
  font-size: x-large;
  padding-left: 1rem;
}

@media (max-width: 1200px) {
  .boxes {
    flex-direction: column;
  }
  .about-box {
    width: 300px;
    height: 250px;
  }

  .discover-box {
    width: 300px;
    height: 150px;
  }

  figcaption {
    font-size: medium;
  }

  .welcome-box {
    font-size: x-large;
  }
}
