.overlay {
  position: relative;
  bottom: 1.55em;
  background: rgb(21, 21, 21);
  transition: 1s ease;
  opacity: 0.5;
  color: aliceblue;
  font-size: medium;
  text-align: center;
  border-radius: 40px;
  width: 90%;
  left: 5%;
}

.image-container:hover .overlay {
  opacity: 0.9;
  top: 1%;
}

img {
  border-radius: 20px;
}
