.Post {
  flex-direction: column;
  margin: 2% auto;
  padding: 1%;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(180, 180, 180, 0.3);
  border-radius: 10px 15px 15px 10px;
}

.head {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit {
  margin-top: 10px;
  gap: 10px;
  margin-inline-end: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.author {
  font-weight: bold;
}

.title {
  position: relative;
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
}

.tag {
  text-align: center;
  background-color: white;
  height: fit-content;
  margin-left: 10px;
  border-radius: 10px 15px 15px 10px;
}

.description {
  background-color: rgb(245, 245, 245);
  opacity: 80%;
  padding: 5px;
  margin: 30px auto;
  width: 400px;
  border-radius: 10px 15px 15px 10px;
}

.description p {
  text-align: justify;
}

img {
  border-radius: 25px;
  height: 200px;
  width: 400px;
}
