.description-text {
  font-size: 2rem;
  text-align: justify;
  letter-spacing: 0.02em;
  width: 900px;
}

@media (max-width: 2000px) {
  .description-text {
    font-size: x-large;
  }
}

@media (max-width: 1600px) {
  .description-text {
    font-size: large;
    width: fit-content;
  }
}
